:root {
	--color1: #C271FF;
	--color2: white;
	--color3: #071629;
}

.text-color1 {
	color: var(--color1);
}

.bg-color1 {
	background-color: var(--color1);
}

.bg-color3 {
	background-color: var(--color3);
}

body {
	background-color: red;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.navbar-light .navbar-toggler-icon {
	background-image: url(./images/icon-menu.svg);
}

.welcome_section {
	background-image: url(./images/pic_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-item {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

.welcome_section_h1 {
	font-size: 3.5rem;
	font-style: normal;
	font-weight: bold;
	font-size: 120px;
	line-height: 151px;
}

.welcome_section__info2 {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

.btn_register {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	padding-top: 13px;
	padding-bottom: 13px;
	width: 162px;
}

.section_title_bold {
	font-weight: bolder;
	font-size: 32px;
}

.section_title {
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
}

.team_img {
	max-width: 150px;
	max-height: 150px;
}

.team_card {
	max-width: 150px;
}

.team_card__title {
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 27px;
}

.team_card__phrase, .team_card__year {
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.carousel_section_1 {
	background-color: var(--color1);
}

.carousel_section_1 .font-italic {
	font-size: 22px;
	line-height: 34px;
	max-width: 730px;
}

.carousel_section_1 .font-weight-bold {
	font-size: 22px;
	line-height: 34px;
}

.carousel_section_1__img {
	max-width: 160px;
}

img.prev-arrow-icon, img.next-arrow-icon {
	width: 26.67px;
	height: 61px;
}

.carousel_section_2 {
	background-color: white;
}

.carousel_section_2 .card{
	max-width: 255px;
}

.w-33 {
	width: 33.33%;
}

.card-title {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

.card-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(7, 22, 41, 0.501584);
}

.card_name_user {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 27px;
}

.card_img_user {
	width: 30px;
}

.card .star {
	width: 15px;
}

.card__time {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 27px;
}

.free_membership_section .my_card__img {
	width: 45px;
}

.free_membership_section .my_card__title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}

.free_membership_section .my_card__phrase{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
}

.my_grid_container {
	max-width: 1112px;
}

.footer__icon {
	font-size: 30px;
}

.footer__icons {
	width: 130px;
}

.footer__copyright {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.35;
}

.welcome_section_v2 {
	background-image: url(./images/pic_2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.welcome_section_v2 .phrase__content {
	padding-top: 192px;
}

.welcome_section_v2__content .phrase__content .phrase__h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}

.welcome_section_v2__content .phrase__content .phrase__smile {
	width: 37px;
}

.section_title_v2 {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 75px;
	text-align: center;
}

.buy_subscription .price {
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 55px;
}

.buy_subscription .price_per_month {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.my_table_content{
	padding: 0 10%;
}

.welcome_section_v2__content table th {
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 34px;
}

.welcome_section_v2__content table td {
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	vertical-align: middle;
}

.welcome_section_v2__content table .holberton_school-icon-check {
	font-size: 28px;
	color: #82D24F;
}

.table .signal_img {
	width: 88px;
}

.faq_section__title {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

.faq_section__info {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(7, 22, 41, 0.501584);
	max-width: 350px;
}

.faq_section h2 {
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 75px;
}

.welcome_section_v3 {
	background-image: url(./images/pic_3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome_section_v3 .phrase__content {
	font-family: 'Coiny', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 35px;
}

.searchbar_section .search_icon {
	font-size: 20px;
	position: absolute;
	margin-left: 5px;
	height: 25px;
}

.searchbar_section .btn.dropdown-toggle {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	width: 100%;
}


.searchbar_section input {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border: 0;
	padding-left: 30px;
}

.searchbar_section ::placeholder {
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.searchbar_section label {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

.cards_section .card{
	max-width: 255px;
}

.cards_section {
	padding: 0 10%;
}

.n_videos {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: rgba(7, 22, 41, 0.296247);
}

/* loader */
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid var(--color1);
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* loeader ---->Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

 @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* start*/
@media (max-width: 575px) {
	.welcome_section_h1 {
		font-size: 3.5rem;
		font-style: normal;
		font-weight: bold;
		font-size: 61px;
		line-height: 77px;
		word-break: break-all;
	}
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.first_header {
		padding: 10px 10%;
	}

	.searchbar_section input {
		max-width: 350px;
	}

	.searchbar_section form{
		padding: 0 10%;
	}

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
 }